@import 'tailwindcss';

@theme {
  /* Fonts */
  --font-title: 'Satoshi-Bold', sans-serif;
  --font-subtitle: 'Satoshi-Medium', sans-serif;
  --font-paragraph: 'Erode-Regular', 'Roboto', sans-serif;

  --animate-deploy-looping-dot: deploy-looping-dot 2500ms linear infinite;

  @keyframes deploy-looping-dot {
    0% {
      transform: translateX(-950%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

/* Page transitions with out-in mode */
.page-enter-active {
  transition: opacity 0.3s ease-in-out 0.3s;
}

.page-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* Layout transitions with out-in mode */
.layout-enter-active {
  transition: opacity 0.3s ease-in-out 0.3s;
}

.layout-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
